<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <beans>
       <bean id="cp" class="com.example.IOC_PaymentService.services.CreditCardPayment"/>
       <bean id="dp" class="com.example.IOC_PaymentService.services.DebitCardPayment"/>
       <bean id="rs" class="com.example.IOC_PaymentService.services.RestaurantService">
           <property name="payment" ref="dp"/>
           <constructor-arg ref="cp"/>
       </bean>
   </beans>


</beans>